.HomeSec{
    height:70vh;
}
.HomeSec1{
    background-image: url(./../../../assests/musicbg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height:70vh;
}

@media screen and (min-width: 768px) {
    .HomeSec2{
        position:relative;
    }
    .HomeSec2-text{
        position:absolute;
        left: -50px;
    } 
  }